

# For GPU monitoring of NVIDIA chipsets
pynvml


# for video decoding
torchcodec

# it is recommended to always use the latest version
diffusers @ git+https://github.com/huggingface/diffusers.git@main

imageio
imageio-ffmpeg

#--------------- MACOS HACKS ----------------

# use eva-decord for better compatiblity on macOS
eva-decord

# don't install flash attention on macOS
#flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl

#--------------- / MACOS HACKS --------------

# for youtube video download
pytube
pytubefix

# for scene splitting
scenedetect[opencv]

# for llava video / captionning
pillow
pillow-avif-plugin
polars
einops
open_clip_torch
av==14.1.0

# for some reason LLaVA-NeXT has ceased to work,
# but I think it it due to a breaking change in Transformers
git+https://github.com/LLaVA-VL/LLaVA-NeXT.git#45f2d920a6c678777da1d5141a82135f43825ae1

# for our frontend
gradio==5.33.1
gradio_toggle
gradio_modal

# used for the monitor
matplotlib