

# For GPU monitoring of NVIDIA chipsets
pynvml

# eva-decord is missing get_batch it seems
#eva-decord==0.6.1
#decord

# we are waiting for the next PyPI release
#finetrainers==0.1.0
finetrainers @ git+https://github.com/a-r-r-o-w/finetrainers.git@main
# temporary fix for pip install bug:
#finetrainers @ git+https://github.com/jbilcke-hf/finetrainers-patches.git@fix_missing_sft_trainer_files

# it is recommended to always use the latest version
diffusers @ git+https://github.com/huggingface/diffusers.git@main

imageio
imageio-ffmpeg

#flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu12torch2.4cxx11abiFALSE-cp310-cp310-linux_x86_64.whl

# for youtube video download
pytube
pytubefix

# for scene splitting
scenedetect[opencv]

# for llava video / captionning
pillow
pillow-avif-plugin
polars
einops
open_clip_torch
av==14.1.0
git+https://github.com/LLaVA-VL/LLaVA-NeXT.git

# for our frontend
gradio==5.23.3
gradio_toggle

# used for the monitor
matplotlib